<div class="menu">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/bus.svg" width="80px">
                    <br>
                    <h5 class="card-title">Linhas de Ônibus</h5>
                    <p class="card-text">Ver linhas de Ônibus e Itinerários</p>
                    <a href="/onibus" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/icon.svg" width="80px">
                    <br>
                    <h5 class="card-title">Linhas de Lotações</h5>
                    <p class="card-text">Ver linhas de Lotações e Itinerários</p>
                    <a href="/lotacoes" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>